.hidden {
    display: none
}

.recordDetails {
    color: #3d4d59;
}

.rdTitle {
    font-size: 110%;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 15px;
    font-family: arial;
}

.bar {
    border-bottom: 1px solid #b3d4e6;
}

.abstract {
    font-size: 80%;
}

.ui-widget {
    font-family: Arial, sans-serif;
    font-size: 1em !important;
}

.item {
    font-size: 110%;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 15px;
}

.tgDown {
    background-image: url("images/bullet_arrow_down.png");
}

.tgRight {
    background-image: url("images/bullet_arrow_right.png");
}

div.toggleTableButton {
    float: left;
    background-repeat: no-repeat;
    min-width: 15px;
    min-height: 15px;
}

.ui-dialog {
    z-index: 1000 !important;
}

#record-details-content > div > table > tbody > tr > td:nth-child(1) {
    background-color: #EBF5FA;
    width: 25%;
}

#record-details-content div table tbody tr td {
    padding: 7px 0px 7px 7px;
    vertical-align: top;
    text-align: left;
    color: #3D4D59;
    border-bottom: 1px solid #B3D4E6;
    font-size: 80%;
}

.test {
    font-size: 80%;
}

#extentMap,
#serviceExtentMap {
    height: 180px;
}