#div-map {
  min-height: 300px;
}

#div-csw-results,
#div-csw-results-glass {
  overflow-y: auto;
}

#div-csw-results-glass {
  background-color: white;
  filter: alpha(opacity=50);
  /* IE */
  opacity: 0.5;
  /* Safari, Opera */
  -moz-opacity: 0.50;
  /* FireFox */
  z-index: 20;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  display: none;
}
.top-buffer { margin-top:20px; }
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}


@media(min-width:1200px) {
  #div-map {
    min-height: 500px;
  }
}