<div class="layersDetails">
    <div class='item bar'>
        <div class="toggleTableButton  tgDown">&nbsp;</div>
        Add layer to map
    </div>
    <table>
        
        <% _.each( rc.layers, function( layer, index ){ %>

            <tr>
                <td>
                    <button  class="addLayer" type="button" data-wmsUrl="<%-rc.wmsUrl%>" data-layerName="<%-rc.layers[index].name%>" ><%- rc.layers[index].title %></button>

                </td>
            </tr>
            <% }); %>
    </table>
</div>