<div class="recordDetails">
    <div class='item bar'>
        <%- rc.identification.title %>
    </div>
    <div class='bar abstract'>
        <%- rc.identification.abstract %>
    </div>
    <div class='item bar'>
        <div class="toggleTableButton tgDown">&nbsp;</div>
        Identification info
    </div>
    <table>
        <tr>
            <td>Title</td>
            <td>
                <%- rc.identification.title %>
            </td>
        </tr>
        <tr>
            <td>Alternate title</td>
            <td>
                <%- rc.identification.alternatetitle %>
            </td>
        </tr>
        <tr>
            <td>Date</td>
            <td>
                <%- rc.identification.date.date %>
            </td>
        </tr>
        <tr>
            <td>Date type</td>
            <td>
                <%- rc.identification.date.type %>
            </td>
        </tr>
        <tr>
            <td>Date stamp</td>
            <td>
                <%- rc.datestamp %>
            </td>
        </tr>
        <tr>
            <td>Resource language</td>
            <td>
                <%- rc.identification.resourcelanguage %>
            </td>
        </tr>
        <tr>
            <td>Topic category</td>
            <td>
                <%- rc.identification.topiccategory %>
            </td>
        </tr>
        <tr>
            <td>Maintenance and update frequency</td>

            <td>
                <%- rc.identification.maintenance %>
            </td>

        </tr>
        <tr>
            <td>Unique resource identifier</td>
            <td>
                <%- rc.identification.uniqueresourceidentifier %>
            </td>
        </tr>
        <% if ( rc.identification.codeSpace ){ %>
            <tr>
                <td>Codespace</td>
                <td>
                    <%- rc.identification.codeSpace %>
                </td>
            </tr>
            <% } %>
                <tr>
                    <td>Abstract</td>
                    <td>
                        <%- rc.identification.abstract %>
                    </td>
                </tr>
                <tr>
                    <td>Supplemental Information </td>
                    <td>
                        <%- rc.identification.supplementalinformation %>
                    </td>
                </tr>
    </table>


    <div class='item bar'>
        <div class="toggleTableButton  tgDown">&nbsp;</div>
        Point of Contacts
    </div>
    <table>
        <tr>
            <td>Individual Name</td>
            <td>
                <%- rc.identification.contact.name %>
            </td>
        </tr>
        <tr>
            <td>Organisation name</td>
            <td>
                <%- rc.identification.contact.organization %>
            </td>
        </tr>
        <tr>
            <td>Role</td>
            <td>
                <%- rc.identification.contact.role %>
            </td>
        </tr>
        <tr>
            <td>Voice</td>
            <td>
                <%- rc.identification.contact.phone %>
            </td>
        </tr>
        <tr>
            <td>Delivery point</td>
            <td>
                <%- rc.identification.contact.address %>
            </td>
        </tr>
        <tr>
            <td>City</td>
            <td>
                <%- rc.identification.contact.city %>
            </td>
        </tr>
        <tr>
            <td>Administrative area</td>
            <td>
                <%- rc.identification.contact.region %>
            </td>
        </tr>
        <% if ( rc.identification.contact.postcode){ %>
            <tr>
                <td>Postal code</td>
                <td>
                    <%- rc.identification.contact.postcode %>
                </td>
            </tr>
            <% } %>
                <tr>
                    <td>Country</td>
                    <td>
                        <%- rc.identification.contact.country %>
                    </td>
                </tr>
                <tr>
                    <td>Electronic mail</td>
                    <td>
                        <%- rc.identification.contact.email %>
                    </td>
                </tr>


    </table>
    <div class='item bar'>
        <div class="toggleTableButton  tgDown">&nbsp;</div>
        Keywords
    </div>
    <table>

        <% _.each( rc.identification.keywords.keywords, function( keyword, index ){ %>

            <tr>
                <td>Keyword</td>
                <td>
                    <%- keyword %>
                        <% if ( rc.identification.keywords.thesaurus[index]){ %> (Thesaurus -
                            <%- rc.identification.keywords.thesaurus[index] %>)
                                <% } %>
                </td>
            </tr>
            <% }); %>
    </table>
    <div class='item bar'>
        <div class="toggleTableButton  tgDown">&nbsp;</div>
        Contraints
    </div>
    <table>
        <tr>
            <td>Use Limitation</td>
            <td>
                <%- rc.identification.uselimitation %>
            </td>
        </tr>
        <tr>
            <td>Legal Use Limitation</td>
            <td>
                <%- rc.identification.uselimitationlegal %>
            </td>
        </tr>
    </table>
    <div class='item bar'>
        <div class="toggleTableButton  tgDown">&nbsp;</div>
        Spatial resolution
    </div>
    <table>
        <tr>
            <td>Denominator</td>
            <td>
                <%- rc.identification.denominators %>
            </td>
        </tr>
        <tr>
            <td>Distance</td>
            <td>
                <%- rc.identification.distance %>
            </td>
        </tr>
        <tr>
            <td>Umo</td>
            <td>
                <%- rc.identification.umo %>
            </td>
        </tr>
    </table>
    <% if ( rc.identification.extent.boundingBox.maxy.length !==0 ){ %>
        <div class='item bar'>
            <div class="toggleTableButton  tgDown">&nbsp;</div>
            Extent
        </div>
        <table>
            <tr>
                <td>Bounding Box</td>
                <td>
                    North bound

                    <%- rc.identification.extent.boundingBox.maxy %> , South bound
                        <%- rc.identification.extent.boundingBox.miny %> , West bound
                            <%- rc.identification.extent.boundingBox.minx %> , East bound
                                <%- rc.identification.extent.boundingBox.maxx %>
                </td>
            </tr>
            <tr>
                <td>Geographic extent</td>
                <td>
                    <div id="extentMap"></div>
                </td>
            </tr>
            <tr>
                <td>Umo</td>
                <td>
                    <%- rc.identification.umo %>
                </td>
            </tr>
        </table>
        <% } %>
            <% if ( rc.serviceidentification.bbox.boundingBox.maxy.length !==0 ){ %>
                <div class='item bar'>
                    <div class="toggleTableButton  tgDown">&nbsp;</div>
                    Service Extent
                </div>
                <table>
                    <tr>
                        <td>Bounding Box</td>
                        <td>
                            North bound

                            <%- rc.serviceidentification.bbox.boundingBox.maxy %> , South bound
                                <%- rc.serviceidentification.bbox.boundingBox.miny %> , West bound
                                    <%- rc.serviceidentification.bbox.boundingBox.minx %> , East bound
                                        <%- rc.serviceidentification.bbox.boundingBox.maxx %>
                        </td>
                    </tr>
                    <tr>
                        <td>Geographic extent</td>
                        <td>
                            <div id="serviceExtentMap"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Umo</td>
                        <td>
                            <%- rc.identification.umo %>
                        </td>
                    </tr>
                </table>
                <% } %>
                    <div class='item bar'>
                        <div class="toggleTableButton  tgDown">&nbsp;</div>
                        Temporal Extent
                    </div>
                    <table>
                        <tr>
                            <td>Begin date</td>
                            <td>


                                <%- rc.identification.temporalextent_start %>
                            </td>
                        </tr>
                        <tr>
                            <td>End date</td>
                            <td>
                                <%- rc.identification.temporalextent_end %>
                            </td>
                        </tr>

                    </table>

                    <div class='item bar'>
                        <div class="toggleTableButton  tgDown">&nbsp;</div>
                        Reference System Information
                    </div>
                    <table>
                        <tr>
                            <td>Unique resource identifier </td>
                            <td>


                                <%- rc.referencesystem.code %>
                            </td>
                        </tr>
                        <tr>
                            <td>Codespace</td>
                            <td>
                                <%- rc.referencesystem.codeSpace %>
                            </td>
                        </tr>
                        <tr>
                            <td>Version</td>
                            <td>
                                <%- rc.referencesystem.version %>
                            </td>
                        </tr>

                    </table>
                    <% _.each( rc.serviceidentification.operateson.title, function( operateson, index ){ %>

                        <div class='item bar'>
                            <div class="toggleTableButton  tgDown">&nbsp;</div>
                            Operates On
                        </div>
                        <table>
                            <tr>
                                <td>Title</td>
                                <td>

                                    <%- rc.serviceidentification.operateson.title[index] %>
                                </td>
                            </tr>
                            <tr>
                                <td>Href</td>
                                <%- rc.serviceidentification.operateson.href[index] %>
                                    </td>
                            </tr>
                            <tr>
                                <td>Version</td>
                                <td>
                                    <%- rc.serviceidentification.operateson.uuidref[index] %>
                                </td>
                            </tr>

                        </table>
                        <% }); %>
                            <div class='item bar'>
                                <div class="toggleTableButton  tgDown">&nbsp;</div>
                                Distribution Information
                            </div>
                            <table>
                                <tr>
                                    <td>Organisation name</td>
                                    <td>


                                        <%- rc.distribution.contact.organization %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Voice</td>
                                    <td>
                                        <%- rc.distribution.contact.phone %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Facsimile</td>
                                    <td>


                                        <%- rc.distribution.contact.fax %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Delivery point</td>
                                    <td>
                                        <%- rc.distribution.contact.address %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>City</td>
                                    <td>


                                        <%- rc.distribution.contact.city %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Postal code</td>
                                    <td>
                                        <%- rc.distribution.contact.postcode %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Country</td>
                                    <td>


                                        <%- rc.distribution.contact.country %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Electronic mail address</td>
                                    <td>
                                        <%- rc.distribution.contact.email %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>OnLine resource</td>
                                    <td>


                                        <%- rc.distribution.online.url %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Role</td>
                                    <td>
                                        <%- rc.distribution.role %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Format</td>
                                    <td>


                                        <%- rc.distribution.format %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Format Version</td>
                                    <td>
                                        <%- rc.distribution.version %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>OnLine resource</td>
                                    <td>
                                        <%- rc.distribution.temporalextent_end %>
                                    </td>
                                </tr>
                            </table>

                            <div class='item bar'>
                                <div class="toggleTableButton  tgDown">&nbsp;</div>
                                Data quality info
                            </div>
                            <table>
                                <tr>
                                    <td>Hierarchy level </td>
                                    <td>

                                        <%- rc.dataquality.level %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Title</td>
                                    <td>
                                        <%- rc.dataquality.conformancetitle %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Date</td>
                                    <td>


                                        <%- rc.dataquality.conformancedate %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Date type</td>
                                    <td>
                                        <%- rc.distribution.contact.address %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Explanation </td>
                                    <td>


                                        <%- rc.dataquality.explanation%>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Pass</td>
                                    <td>
                                        <%- rc.dataquality.conformancedegree %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Statement</td>
                                    <td>


                                        <%- rc.dataquality.lineage %>
                                    </td>
                                </tr>
                            </table>
                            <div class='item bar'>
                                <div class="toggleTableButton  tgDown">&nbsp;</div>
                                Metadata
                            </div>
                            <table>
                                <tr>
                                    <td>File identifier</td>
                                    <td>

                                        <%- rc.identifier %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Metadata language </td>
                                    <td>
                                        <%- rc.language %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Metadata language code</td>
                                    <td>
                                        <%- rc.languagecode %>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Hierarchy</td>
                                    <td>


                                        <%- rc.hierarchy %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Dataset URI
                                        <td>

                                            <%- rc.dataseturi %>
                                        </td>
                                </tr>
                                <tr>
                                    <td>Date stamp </td>
                                    <td>


                                        <%- rc.datetimestamp %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Metadata standard name </td>
                                    <td>
                                        <%- rc.stdname %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Metadata standard version</td>
                                    <td>


                                        <%- rc.stdver %>
                                    </td>
                                </tr>
                            </table>
                            <div class='item bar'>
                                <div class="toggleTableButton  tgDown">&nbsp;</div>
                                Metadata of contact
                            </div>
                            <table>
                                <tr>
                                    <td>Individual Name</td>
                                    <td>
                                        <%- rc.contact.name %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Position</td>
                                    <td>
                                        <%- rc.contact.position %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Organisation name</td>
                                    <td>
                                        <%- rc.contact.organization %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Role</td>
                                    <td>
                                        <%- rc.contact.role %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Voice</td>
                                    <td>
                                        <%- rc.contact.phone %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Delivery point</td>
                                    <td>
                                        <%- rc.contact.address %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>City</td>
                                    <td>
                                        <%- rc.contact.city %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Administrative area</td>
                                    <td>
                                        <%- rc.contact.region %>
                                    </td>
                                </tr>
                                <% if ( rc.contact.postcode){ %>
                                    <tr>
                                        <td>Postal code</td>
                                        <td>
                                            <%- rc.contact.postcode %>
                                        </td>
                                    </tr>
                                    <% } %>
                                        <tr>
                                            <td>Country</td>
                                            <td>
                                                <%- rc.contact.country %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Electronic mail</td>
                                            <td>
                                                <%- rc.contact.email %>
                                            </td>
                                        </tr>


                            </table>
</div>